body{
    display:flex;
    flex-direction: column;
    background-color: hsl(47, 88%, 63%);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}
.container{
    display: grid;
    text-align: center;
    align-items: center;
    width: 384px ;
    height: 522px;
    gap: 16px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 0px 0px 0px 0px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 1);
    border: 0.5px solid rgba(0, 0, 0, 1);
}
/* svg isnt treated like normal; imgs create wrap then fitr img inside */
.svg-container{  
    width: 352px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px 16px 16px 16px;
}
#blog-card{
    height: 200px;
    width: 352px;
    border-radius: 8px;
    object-fit: cover;
}
.section-box{
    display: flex;
    flex-direction: column;
    margin: 16px;
    text-align: left;
    height: 226px;
    width: 352px;
}
.section-box h1,
.section-box p {
    margin: 8px; 
    padding: 0px; 
}
#h1,
#p1,
#p2,
#p3{
    font-family: "Figtree";
    letter-spacing: 0px;
    line-height: 1.4;
    margin-left: 0px;
}
#h1{
    font-weight: 800;
    font-size: 24px;
    color: hsl(0, 0%, 7%);
    max-width: 352px; 
}
#p2{
    font-weight: 500;
    font-size: 14px;
    color: hsl(0, 0%, 7%);
    max-width: 352px; 
}
#p3{
    font-weight: 500;
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    max-width: 352px; 

}
.p1-box{
    display: grid;
    justify-content: center;
    text-align: center;
    height: 29px;
    width: 82px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 5px;
}
#p1{
    font-weight: 800;
    font-size: 14px;
    color: hsl(0, 0%, 7%);
    margin: 5px;
}
.author-info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-left: 16px;
    margin-top: -54px;
    max-width: 129px ;
    max-height: 32px;
}
h3{
    font-weight: 800;
    font-family: "Figtree";
    font-size: 14px;
    color: hsl(0, 0%, 7%);
    max-width: 129px;  
    margin-top: 6px;
    margin-left: 10px;
}


.attribution { margin-top: 10px;   font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }